@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 30 38% 91%;
    --foreground: 0 15% 25%;
    --card: 30 38% 96%;
    --card-foreground: 0 15% 25%;
    --popover: 30 38% 96%;
    --popover-foreground: 0 15% 25%;
    --primary: 0 15% 37%;
    --primary-foreground: 30 38% 95%;
    --secondary: 23 13% 80%;
    --secondary-foreground: 0 15% 25%;
    --muted: 30 20% 88%;
    --muted-foreground: 0 10% 45%;
    --accent: 23 13% 56%;
    --accent-foreground: 30 38% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 20% 82%;
    --input: 30 20% 84%;
    --ring: 0 15% 37%;
    --chart-1: 0 15% 37%;
    --chart-2: 23 13% 56%;
    --chart-3: 30 20% 68%;
    --chart-4: 0 10% 45%;
    --chart-5: 30 38% 81%;
    --radius: 0.5rem;
    --sidebar-background: 0 15% 30%;
    --sidebar-foreground: 30 38% 93%;
    --sidebar-primary: 30 38% 91%;
    --sidebar-primary-foreground: 0 15% 25%;
    --sidebar-accent: 0 15% 42%;
    --sidebar-accent-foreground: 30 38% 98%;
    --sidebar-border: 0 15% 35%;
    --sidebar-ring: 23 13% 56%;
  }
  .dark {
    --background: 0 10% 10%;
    --foreground: 30 20% 88%;
    --card: 0 10% 14%;
    --card-foreground: 30 20% 88%;
    --popover: 0 10% 10%;
    --popover-foreground: 30 20% 88%;
    --primary: 30 38% 91%;
    --primary-foreground: 0 15% 25%;
    --secondary: 0 10% 20%;
    --secondary-foreground: 30 20% 88%;
    --muted: 0 10% 20%;
    --muted-foreground: 30 10% 60%;
    --accent: 23 13% 46%;
    --accent-foreground: 30 38% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 10% 20%;
    --input: 0 10% 20%;
    --ring: 23 13% 56%;
    --chart-1: 30 38% 91%;
    --chart-2: 23 13% 56%;
    --chart-3: 0 15% 67%;
    --chart-4: 30 20% 48%;
    --chart-5: 0 10% 35%;
    --sidebar-background: 0 10% 14%;
    --sidebar-foreground: 30 20% 88%;
    --sidebar-primary: 30 38% 91%;
    --sidebar-primary-foreground: 0 15% 25%;
    --sidebar-accent: 0 10% 22%;
    --sidebar-accent-foreground: 30 20% 92%;
    --sidebar-border: 0 10% 20%;
    --sidebar-ring: 23 13% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
